<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="" authorizationPolicy="episerver:cmsedit" moduleJsonSerializerType="Resolve" preferredUiJsonSerializerType="Net">
  <assemblies>
    <add assembly="ExtendedExternalLinks" />
  </assemblies>

  <clientModule initializer="extended-external-links.initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <dojo>
    <paths>
      <add name="extended-external-links" path="ClientResources" />
    </paths>
  </dojo>
</module>
