<?xml version="1.0" encoding="utf-8"?>
<module
  type="ExtendedExternalLinks.ExtendedExternalLinksModule, ExtendedExternalLinks"
  loadFromBin="false" clientResourceRelativePath="" authorizationPolicy="episerver:cmsedit" moduleJsonSerializerType="Resolve" preferredUiJsonSerializerType="Net">
  <assemblies>
    <add assembly="ExtendedExternalLinks" />
  </assemblies>

  <clientModule initializer="extended-external-links.initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <clientResources>
    <add name="epi-cms.widgets.base" path="ClientResources/external-link-list-base.js" resourceType="Script" sortIndex="1" />
  </clientResources>

  <dojo>
    <paths>
      <add name="extended-external-links" path="ClientResources" />
    </paths>
  </dojo>
</module>
