.external-links-component-container,
.external-links-view-container {
    height: 100%;
    background-color: #FFF;
}

@mixin external-link-button {
    display: inline-block;
    padding: 3px 10px;
    height: 24px;
    line-height: 24px;
}

.refresh-button {
    @include external-link-button;
    background: #ffffff;
    border: 1px solid #9e9e9e;
    height: 30px;
    cursor: pointer;
}

a.external-links-button {
    @include external-link-button;
    background: #0037ff;
    border-color: #0037ff;
    color: #ffffff;
    border-radius: 2px;
}

.external-links-no-data {
    padding: 20px 0;
}

.external-links-component-container,
.external-links-view-container {
    .external-links-table {
        margin-bottom: 20px;
        width: 100%;
        max-width: 500px;
        border-spacing: 0;
        height: calc(100% - 60px);
        padding-left: 8px;

        thead,
        tbody,
        tr,
        th,
        td {
            display: block;
        }

        tbody {
            overflow-y: auto;
            overflow-x: hidden;
            max-height: calc(100% - 10px);
        }

        tr {
            /* fallback */
            width: 97%;
            height: initial;
            /* minus scroll bar width */
            width: -webkit-calc(100% - 16px);
            width: -moz-calc(100% - 16px);
            width: calc(100% - 16px);

            &:hover {
                background-color: #ededed;
            }

            &:after {
                /* clearing float */
                content: " ";
                display: block;
                visibility: hidden;
                clear: both;
            }

            th,
            td {
                padding: 4px 0;
                width: 50%;
                float: left;
            }
        }
    }
}

.external-links-view-container {
    .epi-localToolbar {
        background-color: #f8f9f8;
    }

    .epi-content-approval__container {
        overflow: hidden;
        height: 100%;
    }

    .external-links-table {
        max-width: 100%;
        padding-left: 0;
        height: calc(100% - 150px);

        &.extra-columns {
            th,
            td {
                width: 25%;
            }
        }

        tbody {
            height: 100%;
            max-height: calc(100% - 20px);
        }
    }

    .show-details-filter {
        padding-left: 8px;
        line-height: 22px;
        vertical-align: top;

        input {
            margin-right: 4px;
        }
    }

    .epi-gadgetInnerToolbar {
        padding-left: 0;

        .dijitTextBox {
            width: 300px;
        }
    }
}
