.external-links-container {
    padding-bottom: 50px;

    .filters {
        margin-top: 10px;

        label {
            input[type="checkbox"] {
                margin: 2px 4px 0 0;
                vertical-align: top;
            }
        }
    }
}

@mixin external-link-button {
    display: inline-block;
    padding: 3px 10px;
    height: 24px;
    line-height: 24px;
}

.refresh-button {
    @include external-link-button;
    background: #ffffff;
    border: 1px solid #9e9e9e;
    height: 30px;
    cursor: pointer;
}

a.external-links-button {
    @include external-link-button;
    background: #0037ff;
    border-color: #0037ff;
    color: #ffffff;
    border-radius: 2px;
}

.external-links-no-data {
    padding: 20px 0;
}

.external-links-table {
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    max-width: 500px;

    tr {
        th,
        td {
            padding: 4px 0;
        }
    }
}
