.external-links-container {
    padding-bottom: 50px;

    .filters {
        margin-top: 10px;

        label {
            input[type="checkbox"] {
                margin: 2px 4px 0 0;
                vertical-align: top;
            }
        }
    }
}

.external-links-button {
    background: #0037ff;
    border-color: #0037ff;
    color: #ffffff;
    padding: 3px 10px;
}

.external-links-no-data {
    padding: 20px 0;
}

.external-links-table {
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    max-width: 500px;

    tr {
        th,
        td {
            padding: 4px 0;
        }
    }
}
